 <div data-role="page" id="settingPage">
        <div data-role="header" id="headerBar" data-theme="c" data-position="fixed">
            <h1><img class="headerIcon" src="/img/AppLogo.png"></h1>
        </div><!-- /header -->
        <div role="main" class="ui-content">
            <img  class="logo" src="/img/AppBackgroundImage.png">
            
            <a href="/myProfilePage/myProfileIndex" id="everyButton" class="ui-btn ui-corner-all">my Profile</a>

            <a href="/myProfilePage/addProfilePage" id="everyButton" class="ui-btn ui-corner-all">Add Profile</a>

            <a href="/users/logout" id="everyButton" class="ui-btn ui-corner-all">Log Out</a>

            <div id="OneKid"><img src="/img/Kid4.png"></div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>

                         <li><a href="/myProfilePage/profileList" id="everyButton"><img class="navbarIcon" src="/img/UsersIcon.png"></a>
                         </li>

                        <li><a href="/messageList/messageList" id="everyButton"><img class="navbarIcon" src="/img/MessageIcon.png"></a>
                        </li>

                    </ul>
                </div>
            </div>

        </div><!-- /content -->
    </div><!-- /page -->