 <div data-role="page" id="signUpPage">
        <div class="bi-header" data-role="header" data-theme="c" data-position="fixed">
           
            <h1>APG</h1>
        </div><!-- /header -->
        <div role="main" class="ui-content">
            <h3>Sign Up</h3>
            <div id="ctn-err" class="bi-invisible"></div>
            <label for="txt-first-name">First Name</label>
            <input type="text" name="txt-first-name" id="txt-first-name" value="">
            <label for="txt-last-name">Last Name</label>
            <input type="text" name="txt-last-name" id="txt-last-name" value="">
            <label for="txt-email-address">Email Address</label>
            <input type="text" name="txt-email-address" id="txt-email-address" value="">
            <label for="txt-password">Password</label>
            <input type="password" name="txt-password" id="txt-password" value="">
            <label for="txt-password-confirm">Confirm Password</label>
            <input type="password" name="txt-password-confirm" id="txt-password-confirm" value="">
            <a href="#signUpEmailPopUp" data-rel="popup" data-transition="pop" data-position-to="window" id="btn-submit" class="ui-btn ui-btn-b ui-corner-all bi-top-margin-1-5">Submit</a>
          <!--  <button id="btn-submit" class="ui-btn ui-btn-b ui-corner-all bi-top-margin-1-5">Submit</button> -->
            <div data-role="popup" id="signUpEmailPopUp" data-dismissible="false" style="max-width:450px;">
                <div data-role="header">
                    <h1> Almost there</h1>
                </div>
                <div role="main" class="ui-content">
                    <h3>Confirm Your Email Address</h3>
                    <p>Please check your email to confirm the email you provided.</p>
                    <div class="bi-text-center"><a href="#signInPage" class="ui-btn ui-corner-all ui-shadow ui-btn-b bi-top-margin-1-5">OK</a></div>

                </div>
            </div>

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="#signInOrSignUpPage" data-icon="home"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>