 <div data-role="page" id="login">
        <div data-role="header" id="headerBar" data-theme="c" data-position="fixed">
            <h1><img class="headerIcon" src="/img/AppLogo.png"></h1>
            
        </div><!-- /header -->
        <div role="main" class="ui-content">
            <img  class="logo" src="/img/AppBackgroundImage.png">
            <h3><b>LOG IN</b></h3>

            <div class="errors"></div>

            <form action="/users/login" method="post" action="demoform.asp">
                <div class="ui-field-contain">
            
                    <label for="email"><b>Email Address:</b></label>
                    <input type="text" name="email" id="email" value="" required>
                    <label for="password"><b>Password:</b></label>
                    <input type="password" name="password" id="password" value="" required>
            
                </div>
           <!--     <button onclick="checkErrors()" type="submit">Log in</button> -->

                <div data-role="popup" id="errorsPopUp">
                    <p>This is a simple popup.</p>
                </div>
             <button id="everyButton" type="submit">Submit</button>
           
        </form>

        <div id="OneKid"><img src="/img/Kid2.png"></div>



           <!-- <a href="settingPage" class="ui-btn ui-btn-b ui-corner-all bi-top-margin-1-5">Log In</a> -->

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <!--<li><a href="/apg" id="everyButton" data-icon="home"></a></li> -->
                        <a href="/apg" id="everyButton"><img class="navbarIcon" src="/img/HomeIcon.png"></a>
                    </ul>
                </div>
            </div>

        </div><!-- /content -->
    </div><!-- /page -->