{{#if success_msg}}
 <div data-role="popup" id="successPopUp" data-dismissible="false" style="max-width:450px;">
     {{success_msg}}
                
</div>
{{/if}}

{{#if error_msg}}
 <div data-role="popup" id="errorPopUp" data-dismissible="false" style="max-width:450px;">
     {{error_msg}}
                
</div>
{{/if}}